.vs
bin
Debug
scsHash
SII_Decrypt
src
x64
zlib
.gitignore
.gitmodules
hashTester.cpp
resource.h
SCSsharp Extractor.rc
SCSsharp Extractor.sln
SCSsharp Extractor.vcxproj
SCSsharp Extractor.vcxproj.filters
SCSsharp Extractor.vcxproj.user
SII_Decrypt.dll
testSCSS.cpp
testSCSS.hpp