[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "cityhash"]
	path = cityhash
	url = https://github.com/google/cityhash.git
[submodule "SII_Decrypt"]
	path = SII_Decrypt
	url = https://github.com/TheLazyTomcat/SII_Decrypt.git
